body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
ul,
li,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
form,
fieldset,
input,
textarea,
select,
table,
tr,
td,
th,
tbody,
tfoot {
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  body:before, body:after,
  div:before,
  div:after,
  span:before,
  span:after,
  h1:before,
  h1:after,
  h2:before,
  h2:after,
  h3:before,
  h3:after,
  h4:before,
  h4:after,
  h5:before,
  h5:after,
  h6:before,
  h6:after,
  p:before,
  p:after,
  ul:before,
  ul:after,
  ol:before,
  ol:after,
  ul:before,
  ul:after,
  li:before,
  li:after,
  article:before,
  article:after,
  aside:before,
  aside:after,
  details:before,
  details:after,
  figcaption:before,
  figcaption:after,
  figure:before,
  figure:after,
  footer:before,
  footer:after,
  header:before,
  header:after,
  hgroup:before,
  hgroup:after,
  nav:before,
  nav:after,
  section:before,
  section:after,
  summary:before,
  summary:after,
  form:before,
  form:after,
  fieldset:before,
  fieldset:after,
  input:before,
  input:after,
  textarea:before,
  textarea:after,
  select:before,
  select:after,
  table:before,
  table:after,
  tr:before,
  tr:after,
  td:before,
  td:after,
  th:before,
  th:after,
  tbody:before,
  tbody:after,
  tfoot:before,
  tfoot:after {
    content: "";
    display: table; }
  body:after,
  div:after,
  span:after,
  h1:after,
  h2:after,
  h3:after,
  h4:after,
  h5:after,
  h6:after,
  p:after,
  ul:after,
  ol:after,
  ul:after,
  li:after,
  article:after,
  aside:after,
  details:after,
  figcaption:after,
  figure:after,
  footer:after,
  header:after,
  hgroup:after,
  nav:after,
  section:after,
  summary:after,
  form:after,
  fieldset:after,
  input:after,
  textarea:after,
  select:after,
  table:after,
  tr:after,
  td:after,
  th:after,
  tbody:after,
  tfoot:after {
    clear: both; }